@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon">
    <title>Responsive pricing table</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script id="stripe-checkout" src="https://checkout.stripe.com/checkout.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel text-center price-panel panel-grey">
                    <div class="panel-heading">
                        <h3>FREE PLAN</h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead big-lead"><strong>$5 / month</strong></p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-check text-success"></i> Personal use only</li>
                        <li class="list-group-item"><i class="fa fa-times  text-danger"></i> Unlimited projects</li>
                        <li class="list-group-item"><i class="fa fa-times  text-danger"></i> 27/7 support</li>
                        <li class="list-group-item"><i class=""></i>60 $ per year</li>
                    </ul>
                    <div class="panel-footer">
                        <a href="#" class="btn btn-lg btn-block btn-default" onclick="checkout(event, 60, 'FREE PLAN')">BUY NOW!</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel text-center price-panel panel-blue">
                    <div class="panel-heading">
                        <h3>STARTER PLAN</h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead big-lead"><strong>$10 / month</strong></p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-check text-success"></i> Commercial use</li>
                        <li class="list-group-item"><i class="fa fa-times  text-danger"></i> Unlimited projects</li>
                        <li class="list-group-item"><i class="fa fa-times  text-danger"></i> 27/7 support</li>
                        <li class="list-group-item"><i class=""></i>120 $ per year</li>
                    </ul>
                    <div class="panel-footer">
                        <a href="#" class="btn btn-lg btn-block btn-primary" onclick="checkout(event, 120, 'STARTER PLAN')">BUY NOW!</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel text-center price-panel panel-green">
                    <div class="panel-heading">
                        <h3>DEV PLAN</h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead big-lead"><strong>$50 / month</strong></p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-check text-success"></i> Commercial use</li>
                        <li class="list-group-item"><i class="fa fa-check  text-success"></i> Unlimited projects</li>
                        <li class="list-group-item"><i class="fa fa-times  text-danger"></i> 27/7 support</li>
                        <li class="list-group-item"><i class=""></i>600 $ per year</li>
                    </ul>
                    <div class="panel-footer">
                        <a href="#" class="btn btn-lg btn-block btn-success" onclick="checkout(event, 600, 'DEV PLAN')">BUY NOW!</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel text-center price-panel panel-red">
                    <div class="panel-heading">
                        <h3>PRO PLAN</h3>
                    </div>
                    <div class="panel-body">
                        <p class="lead big-lead"><strong>$99 / month</strong></p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-check text-success"></i> Commercial use</li>
                        <li class="list-group-item"><i class="fa fa-check  text-success"></i> Unlimited projects</li>
                        <li class="list-group-item"><i class="fa fa-check  text-success"></i> 27/7 support</li>
                        <li class="list-group-item"><i class=""></i>999 $ per year</li>
                    </ul>
                    <div class="panel-footer">
                        <a href="#" class="btn btn-lg btn-block btn-danger" onclick="checkout(event, 999, 'PRO PLAN')">BUY NOW!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var handler = StripeCheckout.configure({
            key: '@Stripe.Value.PublishableKey',
            image: '/images/functions-logo.png',
            token: function (token) {
                $("#stripeToken").val(token.id);
                $("#stripeEmail").val(token.email);
                $("#amountInCents").val(Math.floor($("#amountInDollars").val() * 100));
                $("#productName").val($('#selectedProduct').val());
                $("#checkoutForm").submit();
            }
        });

        function checkout(e, amount, productName) {
            $('#amountInDollars').val(amount);
            $('#selectedProduct').val(productName);
            var amountInCents = Math.floor($("#amountInDollars").val() * 100);
            var displayAmount = parseFloat(Math.floor($("#amountInDollars").val() * 100) / 100).toFixed(2);
            // Open Checkout with further options
            handler.open({
                name: $('#selectedProduct').text(),
                description: productName,
                amount: amountInCents,
            });
            e.preventDefault();
        };

        // Close Checkout on page navigation
        $(window).on('popstate', function () {
            handler.close();
        });
    </script>

    <form id="checkoutForm" action="/Home/Charge" method="POST">
        <input type="hidden" id="stripeToken" name="stripeToken" />
        <input type="hidden" id="stripeEmail" name="stripeEmail" />
        <input type="hidden" id="amountInCents" name="amountInCents" />
        <input type="hidden" id="productName" name="productName" />
    </form>
    <div id="amountInDollars" style="display:none"></div>
    <div id="selectedProduct" style="display:none"></div>
</body>
</html>

