@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

<form action="/Home/Charge" method="post">
    <label>Amount: $5.00</label>
    <script src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="@Stripe.Value.PublishableKey"
            data-description="ASP.NET Core Stripe"
            data-amount="500">
    </script>
</form>